html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

a {
    color: initial;
    text-decoration: none;
}

:root {
    --container-padding: 15px;
    --container-xxl-sm: 1730px;
    --container-xl: 1600px;
    --container-lg: 1440px;
    --container-md: 1200px;
    --container-sm: 992px;
    --container-xs: 768px;
}

body {
    overflow-x: hidden;
}

section {
    padding-block: 60px;
}


input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: var(--container-xxl-sm);
}

@media (max-width: 1820px) {
    .container {
        max-width: var(--container-xxl-sm);
    }
}

@media (max-width: 1600px) {
    .container {
        max-width: var(--container-xl);
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: var(--container-lg);
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: var(--container-md);
    }
}

@media (max-width: 992px) {
    .container {
        max-width: var(--container-sm);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}